/*  {
  font-family: "Times New Roman";
}

#heading {
  text-align: center;
  text-transform: capitalize;
}

#outer {
  font-size: 25px;
}

#inner {
  font-size: 10px;
} */

/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */
/* 
#rectanle {
  height: 500px;
  width: 200px;
  background-color: red;
}

#circle {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  margin: 30px 24px 30px 24px;
} */

* {
  padding: 0;
  margin: 0;
  color: white;
}

#nav-bar {
  height: 60px;
  background-color: #0f1111;
}

button {
  background-color: #f08804;
}

#logo {
  color: #f08804;
  font-size: 25px;
}

a {
  margin-right: 185px;
  text-decoration: none;
}

.content-Box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}

#content {
  height: 500px;
}

footer {
  background-color: #0f1111;
  text-align: center;
  color: #fff;
}
