/* * {
  font-family: "Times New Roman";
}

#heading {
  text-align: center;
  text-transform: capitalize;
}

#outer {
  font-size: 25px;
}

#inner {
  font-size: 10px;
} */

/* div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

#rectanle {
  height: 500px;
  width: 200px;
  background-color: red;
}

#circle {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  margin: 30px 24px 30px 24px;
}
