div {
  height: 100px;
  width: 100px;
  background-color: red;
  align-content: center;
  text-align: center;
  border: 2px solid black;
  position: absolute;
  top: 100px;
  left: 100px;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: steps(5);
  transition-delay: 1s;
  transition: all 2s ease-in 1s; */

  /* cursor: pointer; */
  /* transform: scale(2); */
  transition: all 2s ease-in 0s;
}

div:hover {
  /* background-color: aqua;
  color: white;
  font-size: 20px; */
  /* transform: scale(2); */
  transform: translate(100px, 200px);
}

div:active {
  background-color: yellow;
  /* transition-duration: 5s; */
  /* transform: rotate(360deg); */
}
